:root{
  --mainBlue:#001E6C;
  --mainWhite:#ffffff;
  --lightBlue:#009ffd;
  --mainDark:#232528;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
font-family: 'Permanent Maker', 'cursive';
letter-spacing: 0.3rem;
text-transform: uppercase;

}
.text-blue{
  color: var(--mainBlue);

}

.text-bright{
  color: var(--lightBlue);
}